@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

html {
    background-color: #cac0b4;
    background-image:  radial-gradient(#8c8375 0.8px, transparent 0.8px), radial-gradient(#8c8375 0.8px, #cac0b4 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
}

body {
    display: flexbox;
    justify-self: center;
}

.parent {
    display: grid;
    grid-template-columns: 375px 375px;
    grid-template-rows: 75px 325px 175px;
    grid-column-gap: 10px;
    grid-row-gap: 9px;
    color: #422800;
    font-family: 'Rubik', 'Times New Roman', Times, serif;
    padding-top: 70px;
}

.header { grid-area: 1 / 1 / 2 / 3; }
.uploadPreviewPanel { grid-area: 2 / 1 / 3 / 2; }
.controlPanel { grid-area: 3 / 1 / 4 / 2; }
.metadataList { grid-area: 2 / 2 / 4 / 3; }

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 180px;
    align-self: center;
    border-radius: 26px;
    border: 2px solid #422800;
    background-color: #fbeee0;
    color: #422800;
    font-size: 15px;
    cursor: pointer;
    box-shadow: #422800 1px 3px 0 0;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: #fff;
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.header, .uploadPreviewPanel, .metadataList {
    border: 2px solid #422800;
    background-color: #fbeee0;
    border-radius: 20px;
    box-shadow: #422800 1px 3px 0 0;
}

.header {
    margin-right: 100px ;
    padding-left: 50px;
    text-align: start;
    font-family: 'Rubik';
    font-weight: 800;
    font-size: xx-large;
    align-content: center;
}

.uploadPreviewPanel, .metadataList {
    margin-top: 15px;
}

.uploadPreviewPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.uploadPreviewPanel.dragover {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
    outline: 2px dashed #84a98c !important;
    background: #d3e2c4 !important;
}

.uploadPreviewPanel:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.controlPanel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.metadataList {
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    padding-right: 8px;
    padding-left: 8px;
    scrollbar-width: thin;
    scrollbar-color: #909090 transparent;
}

.footer {
    text-align: center;
    padding-top: 15px;
    font-size: 10pt;
    font-family: 'Rubik';
    color: #422800;
}

